<div id="<%= dom_id class_cohort %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= class_cohort.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Class teacher:</strong>
    <%= class_cohort.class_teacher_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Grade:</strong>
    <%= class_cohort.grade_id %>
  </div>
</div>
