<div id="<%= dom_id class_grade %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Grade:</strong>
    <%= class_grade.grade %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Enrollment year:</strong>
    <%= class_grade.enrollment_year %>
  </div>
</div>
